@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: -0.025rem;
}

a {
    text-decoration: none;
}

body {
    background-color: #0A146E;
}

.container {
    max-width: 1200px;
}

/* resolve border overlapping */
.nav,
.nav-item {
    border-radius: inherit;
}

.convert-link {
    border-top-left-radius: inherit;
}

.charts-link {
    border-top-right-radius: inherit;
}

.nav-link {
    background-color: var(--bs-gray-200);
    color: var(--bs-gray-700);
}

.nav-link.active {
    background-color: white;
    color: var(--bs-blue);
    font-weight: 600;
}

.nav-link:hover {
    opacity: 50%;
}

.nav-link>.bi {
    color: inherit;
}