<div class="my-banner">
    <div class="container d-flex align-items-center" style="height: 350px;">
        <div class="text-center text-white w-100">
            <h1 class="fw-bold fs-2">Trusted Global Currency Converter</h1>
            <p>Best source for currency conversion and tracking exchange rates</p>
        </div>
    </div>
</div>

<div class="bg-white" style="min-height: 500px;">
    <router-outlet></router-outlet>
</div>

<footer>Footer</footer>

<style>
    .my-banner {
        background-image: url('/assets/image.png');
        background-size: 2000px;
    }
</style>